.error {
   background: #272937 url('@img/error/error__bg.png')0 0 /cover no-repeat;
   padding-top: rem(171);
   @include adaptiveValue("padding-top", 171, 128, 1345, 640, 1);
   @include adaptiveValue("padding-top", 128, 161, 640, 320, 1);
   overflow: hidden;

   &__container {}

   &__block {
      display: grid;
      grid-template: auto/auto 57.249%;
      column-gap: rem(20);
      align-items: center;
      @include adaptiveValue("padding-bottom", 182, 0, 1345, 640, 1);

      @media (max-width:640px) {
         grid-template: auto auto /auto;
      }
   }

   &__content {
      justify-self: end;

      @media (max-width:640px) {
         justify-self: start;
      }

      &__title {
         font-weight: 700;
         @include adaptiveValue("font-size", 250, 150);
         color: #FFFFFF;
      }

      &__text {
         font-weight: 100;
         @include adaptiveValue("font-size", 96, 54);

         &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 50, 25);
         }
      }

      &__button {
         @include adaptiveValue("width", 331, 285);

         button {}
      }
   }

   &__img {
      margin-right: rem(-90);

      @media (max-width:640px) {
         margin-right: rem(-190);
         margin-bottom: rem(-80);

         img {
            transform: rotate(15deg);
            max-width: 100%;
         }
      }

      img {}
   }
}