//====================================================================================================
@-moz-document url-prefix() {
   .menu {
      scrollbar-width: thin;
      scrollbar-color: white #272937;
   }
}

.header {
   padding-top: rem(51);
   position: fixed;
   z-index: 20;
   width: 100%;
   top: 0;
   left: 0;
   transition: all 0.8s ease 0s;

   .menu-open & {}

   &._header-scroll {
      padding-top: rem(25);
      background-color: #272937;
      padding-bottom: rem(25);
      opacity: 0.75;
      transition: all 0.5s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            opacity: 1;
         }
      }

      .menu-open & {
         opacity: 1;
      }
   }

   &__container {}

   &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__menu {}

   .menu {
      @media (max-width: 1250px) {
         display: flex;
         flex-direction: column;
         position: absolute;
         width: 100%;
         height: 100vh;
         top: 0;
         right: -100%;
         overflow: auto;
         transition: all 0.8s ease 0s;
         padding-bottom: rem(25);
         z-index: 10;
         background: rgba(0, 0, 0, 0.75);

         /* WebKit-specific scrollbar styles */
         @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
            &::-webkit-scrollbar {
               width: 8px;
            }

            &::-webkit-scrollbar-track {
               background-color: #272937;
            }

            &::-webkit-scrollbar-thumb {
               background-color: white;
               border-radius: rem(50);
               //border: 2px solid #272937;
            }

            &::-webkit-scrollbar-thumb:hover {
               background-color: #f0f0f0;
            }

            &::-webkit-scrollbar-thumb:active {
               background-color: #e0e0e0;
            }
         }
      }

      .menu-open & {
         right: 0;
      }

      &__body {
         @media (max-width: 1250px) {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 56.23%;
            min-height: 100%;
            top: 0;
            right: 0;
            opacity: 1;
            background: #2b2a39;
         }

         @media (max-width:640px) {
            width: 72.23%;
         }
      }

      &__logo {
         display: flex;
         align-items: center;
         column-gap: rem(5);

         @media (max-width: 1250px) {
            flex: 1 1 auto;
         }

         &__img {
            svg {
               width: rem(41);
               height: rem(45);
            }
         }

         &__text {
            font-weight: 600;
         }
      }

      &__list {
         display: flex;
         column-gap: rem(5);
         flex-wrap: wrap;
         row-gap: rem(15);
         transition: all 0.8s ease 0s;

         @media (max-width:1250px) {
            display: flex;
            flex-wrap: nowrap;
            padding-top: rem(111);
            padding-left: rem(35);
            padding-right: rem(45);
            flex-direction: column;
         }

         @media (max-width:640px) {
            padding-left: rem(20);
         }

         .menu-open & {}
      }

      &__item {}

      &__link {
         display: inline-block;
         padding: rem(20);
         transition: all 0.2s ease 0s;

         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
               font-weight: 700;
            }
         }
      }

      &__access {
         display: flex;
         column-gap: rem(5);
         align-items: center;

         @media (max-width:640px) {
            padding-top: rem(20);
            column-gap: rem(10);
         }

         .menu-open & {}

         @media (max-width: 1250px) {
            @include adaptiveValue("padding-right", 80, 20, 1250, 640, 1);
         }

         &__login {
            position: relative;
            transition: all 0.5s ease 0s;
            flex: 1 0 auto;

            &__name {
               text-align: center;
            }

            .spollers__item {
               border: rem(1) solid #fff;
               border-radius: rem(15);
               overflow: hidden;
            }

            .spollers__title {
               border-radius: none;
               border: rem(0) solid #000;

               &::before,
               &::after {
                  content: '';
                  display: none;
               }
            }

            &__button {
               display: block;
               @include adaptiveValue("width", 123, 80, 640, 320, 1);
               width: rem(123);
               height: rem(61);
               display: flex;
               align-items: center;
               justify-content: center;
            }

            .menu__access__login__exit {
               padding-bottom: rem(7);
               opacity: 1;
               text-align: center;
               width: 100%;
               font-size: rem(20);
               font-weight: 800;
               color: red;
               background-color: #fff;
               padding-top: rem(7);
            }

            .invisible {
               display: none;
            }
         }

         &__registration {
            height: rem(61);

            button {}
         }
      }

      &__beta {
         &__wrapper {
            padding-top: rem(20);
            flex: 1 1 auto;
            display: flex;
            align-items: end;
            padding-left: rem(15);
         }

         display: flex;
         column-gap: rem(10);
         opacity: 0.5;
         align-items: center;
         padding: rem(20) rem(25);

         &__text {
            font-size: rem(16);
            line-height: 160%;
         }

         &__img {
            margin-top: rem(10);

            svg {
               width: rem(31);
               height: rem(31);
            }
         }
      }
   }
}

.simplebar-track {
   background: red;
}

/* Styling the scrollbar handle */
.simplebar-scrollbar:before {
   background-color: #888;
}

/* Styling the handle on hover */
.simplebar-scrollbar.simplebar-visible:before {
   background-color: #555;
}

//Burger

.icon-menu {

   display: none;

   @media (max-width:1250px) {
      display: block;
      position: relative;
      width: rem(30);
      height: rem(18);
      cursor: pointer;
      z-index: 10;

      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(2);
         background-color: #fff;
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      span {
         top: calc(50% - rem(1));
      }

      .menu-open & {
         span {
            width: 0;
         }

         &::before,
         &::after {}

         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }

         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
      }
   }
}