.choice {
   background: url('@img/choice/choice__bg.png') 0 0 /cover no-repeat;
   background-color: #131523;
   @include adaptiveValue("padding-top", 306, 161);

   &__container {}

   &__block {
      @include adaptiveValue("padding-bottom", 46, 102);
      position: relative;
   }

   &__img-1 {
      position: absolute;
      top: rem(-45);
      left: 0;
      animation: spinImg1 20s linear infinite alternate;

   }

   &__img-2 {
      position: absolute;
      bottom: 0;
      left: 0;
      animation: spinImg2 20s linear infinite alternate;
   }

   &__img-3 {
      position: absolute;
      top: rem(-100);
      right: 0;
      animation: spinImg3 20s linear infinite alternate;
   }

   &__img-4 {
      position: absolute;
      bottom: 0;
      right: 0;
      animation: spinImg4 20s linear infinite alternate;
   }

   &__content {
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding-bottom", 110, 35);
      @include adaptiveValue("padding-right", 50, 50, 1350, 640, 0);
      @include adaptiveValue("padding-left", 50, 50, 1350, 640, 0);

      &__title {
         text-align: center;
         font-weight: 600;
         line-height: 150%;
         @include adaptiveValue("font-size", 46, 24);

         &:not(:last-child) {
            @include adaptiveValue("padding-bottom", 35, 25);
         }
      }

      &-main__slider {
         //overflow: visible;
         padding: rem(0) rem(10);
         margin: 0 auto;
         max-width: rem(850);
         position: relative;
         z-index: 2;
         top: rem(2);

         @media (max-width:1060px) {
            padding-bottom: rem(35);
         }
      }

      &-main__wrapper {}

      &-main__slide {
         position: relative;
         width: rem(100);
         cursor: pointer;

         @media (max-width: 800px) {
            display: flex;
            justify-content: center;
         }

         @media (max-width:1060px) {
            width: rem(120);
         }

         &.active {
            position: relative;

            @media (min-width:1060px) {

               &::before,
               &::after {
                  content: '';
                  position: absolute;
                  width: rem(30);
                  height: rem(30);
                  bottom: rem(0);
                  z-index: 3;
               }

               &::before {
                  content: '';
                  left: rem(-28.3);
                  border-bottom: rem(2) solid #fff;
                  border-right: rem(2) solid #fff;
                  border-radius: 0 0 rem(15) 0;
               }

               &::after {
                  content: '';
                  right: rem(-31.25);
                  border-bottom: rem(2) solid #fff;
                  border-left: rem(2) solid #fff;
                  border-radius: 0 0 0 rem(15);
               }
            }
         }
      }

      &-main__person {
         width: rem(100);
         height: rem(131);
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         row-gap: rem(12);
         position: relative;

         .active & {
            @media (min-width:1060px) {
               &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 85%;
                  top: 0;
                  left: rem(0);
                  border-radius: rem(15) rem(15) 0 rem(0);
                  border: rem(2) solid #fff;
                  border-bottom: rem(0);
               }
            }

            @media (min-width:1060px) {
               &::before {
                  content: '';
                  position: absolute;
                  width: 125%;
                  height: 10%;
                  bottom: 0;
                  left: -10%;
                  background-color: #131523;
                  z-index: 2;
               }
            }
         }

         @media (max-width:1060px) {
            width: rem(120);
            border: rem(1) solid #fff;
            border-radius: rem(15);
         }


         &__img {
            svg {
               fill: rgba(255, 255, 255, 0.5);
               width: rem(48);
               height: rem(48);
               transition: all 0.5s ease 0s;

               .active & {
                  fill: #ff5c69;
               }
            }
         }

         &__title {
            font-size: rem(15);
            line-height: 150%;
            opacity: 0.5;
            transition: all 0.5s ease 0s;

            .active & {
               opacity: 1;
            }
         }
      }

      &-text__slider {
         position: relative;
      }

      .choice__content-text__main-wrapper {
         max-width: rem(885);
         position: relative;
         margin: 0 auto;
      }

      &-text__navigation {
         button {
            border-radius: rem(15);
            border: rem(1) solid #fff;
            padding: rem(13) rem(19);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
         }

         svg {
            stroke-width: 1.50px;
            stroke: #fff;
            width: rem(15);
            height: rem(26);
         }

         &__left {
            @include adaptiveValue("left", -85, -65, 1350, 640, 1);


            svg {
               transform: rotate(90deg);
            }
         }

         &__right {
            @include adaptiveValue("right", -85, -65, 1350, 640, 1);

            svg {
               transform: rotate(-90deg);
            }
         }
      }

      &-text__wrapper {}

      &-text__slide {}

      &-text__text {
         @include adaptiveValue("font-size", 18, 14);
         line-height: 150%;
         opacity: 0.75;
         border: rem(2) solid #fff;
         border-radius: 15px;
         padding: rem(46) rem(47);

         @media (max-width:640px) {
            padding: rem(25);
            line-height: 140%;
            border: rem(1) solid #fff;
         }
      }
   }

   &__join {
      margin: 0 auto;
      width: rem(224);

      button {}
   }
}

@keyframes spinImg1 {
   0% {
      top: rem(-45);
      left: 0;
   }

   25% {
      top: rem(-100);
      left: rem(40);
   }

   50% {
      top: rem(-150);
      left: rem(80);
   }

   75% {
      top: rem(150);
      left: rem(-50);
   }

   100% {
      top: rem(400);
      left: rem(-150);
   }
}

@keyframes spinImg2 {
   0% {
      bottom: rem(0);
      left: 0;
   }

   25% {
      bottom: rem(25);
      left: rem(100);
   }

   50% {
      bottom: rem(50);
      left: rem(20);
   }

   75% {
      bottom: rem(100);
      left: rem(150);
   }

   100% {
      bottom: rem(200);
      left: rem(300);
   }
}

@keyframes spinImg3 {
   0% {
      top: rem(-100);
      right: 0;
   }

   25% {
      top: rem(100);
      right: rem(80);
   }

   50% {
      top: rem(30);
      right: rem(-20);
   }

   75% {
      top: rem(250);
      right: rem(50);
   }

   100% {
      top: rem(400);
      right: rem(150);
   }
}

@keyframes spinImg4 {
   0% {
      bottom: 0;
      right: 0;
   }

   25% {
      bottom: rem(150);
      right: rem(80);
   }

   50% {
      bottom: rem(30);
      right: rem(20);
   }

   75% {
      bottom: rem(200);
      right: rem(95);
   }

   100% {
      bottom: rem(350);
      right: rem(100);
   }
}