.hero {
   background: #272937 url('@img/hero/hero__bg.png') 0 0 / cover no-repeat;
   @include adaptiveValue("padding-top", 112, 151, 1350, 360, 1);

   &__container {}

   &__block {
      display: grid;
      grid-template: auto/53.68% 1fr;
      align-items: center;

      @media (max-width:500px) {
         grid-template: auto auto/auto;
      }

      @include adaptiveValue("padding-bottom", 256, 148, 2500, 500, 0);
   }

   &__content {
      position: relative;
      z-index: 2;
      //@include adaptiveValue("padding-top", 0, 40, 1350, 960, 1);

      &__title {
         line-height: 150%;
         opacity: 0.5;
         padding-bottom: rem(15);

         @media (max-width:360px) {
            font-size: rem(14);
         }
      }

      &__subtitle {
         font-weight: 600;
         @include adaptiveValue("font-size", 64, 24, 1350, 360, 1);
         line-height: 110%;
         text-transform: uppercase;
         @include adaptiveValue("padding-bottom", 25, 10);
      }

      &__list {
         @include adaptiveValue("padding-bottom", 45, 25);
         display: grid;
         grid-template: repeat(auto-fit, minmax(auto, 25px))/ auto auto;
         gap: rem(10);

         @media (max-width:960px) {
            grid-template: repeat(auto-fit, minmax(auto, 25px))/ auto;
         }
      }

      &__item {
         display: flex;
         column-gap: rem(5);
         align-items: center;

         span {
            @include adaptiveValue("font-size", 18, 14);
            line-height: 140%;
            opacity: 0.75;
         }

         &::before {
            content: '';
            opacity: 1;
            width: rem(10);
            height: rem(10);
            border-radius: 10px;
            background: #f04451;
         }
      }

      &__actions {
         display: flex;
         gap: rem(15);
         @include adaptiveValue("font-size", 18, 14);

         @media (max-width:$mobile) {
            flex-direction: column;
         }

         &__join {
            box-shadow: 0 4px 25px 0 rgba(240, 68, 81, 0.25);
            background: #f04451;
            max-width: rem(224);
            height: rem(69);
            @include adaptiveValue("width", 224, 190, 1350, 360, 1);

            button {
               line-height: 160%;
               letter-spacing: 0.04em;
            }
         }

         &__about {
            display: flex;
            align-items: center;
            justify-content: center;
            border: rem(1) solid #fff;
            border-radius: rem(15);
            width: rem(165);
            height: rem(69);
            @include adaptiveValue("width", 165, 144, 1350, 360, 1);

            button {
               width: 100%;
               height: 100%;
               line-height: 160%;
               letter-spacing: 0.04em;
            }
         }
      }
   }

   &__img {
      // margin-right: rem(-287.5);
      //margin-left: rem(-32);
      @include adaptiveValue("margin-right", -287.5, -53, 1700, 960, 1);
      @include adaptiveValue("margin-left", -32, -53, 1700, 960, 1);

      @media (max-width:960px) {
         transform: scale(1.3);
      }

      img {
         max-width: 100%;
      }

      @media (max-width:700px) {
         transform: translateY(45%) scale(1.15) rotate(-30deg);
         align-self: end;
         margin-right: rem(-150);
      }

      @media (max-width:500px) {
         margin-top: rem(-100);
         padding-left: rem(100);
         transform: translateY(15%) scale(1.15) rotate(-30deg);
      }
   }
}