// Заголовки, общие БЄМ блоки и проче...

//!! BUTON ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.button {
   height: rem(69);
   box-shadow: 0 rem(4) rem(25) 0 rgba(240, 68, 81, 0.25);
   background: #f04451;
   display: flex;
   align-items: center;
   justify-content: center;
   width: rem(180);
   border-radius: rem(15);
   transition: all 0.6s ease 0s;
   overflow: hidden;

   @media (any-hover: hover) {
      &:hover {
         background: #ff5260;
         box-shadow: 0 rem(9) rem(50) 0 rgba(254, 88, 102, 0.25);
      }
   }

   button {
      width: 100%;
      height: 100%;
   }
}

//!! SVG ICONS =-===============================================================

.svg-svg-arrow-dims {
   fill: transparent;
   stroke-width: 1.50px;
   stroke: #fff;

}

.svg-svg-logo-dims {
   fill: #f04451;
}

.svg-svg-question-dims {
   use {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
   }

   fill: rgba(255, 255, 255, 0.75);
}

.svg-svg-micro-dims {
   fill: #fff;
}

.svg-svg-money-dims {
   fill: #fff;
}

.svg-svg-light-dims {
   fill: #fff;
}

.svg-svg-reward-dims {
   fill: #fff;
}

.svg-svg-opportunities__1-dims {
   fill: #fff;
   width: rem(29);
   height: rem(31);
}

.svg-svg-opportunities__2-dims {
   fill: #fff;
   width: rem(27);
   height: rem(21);
}

.svg-svg-opportunities__3-dims {
   fill: #fff;
   width: rem(15);
   height: rem(21);
}

.svg-svg-opportunities__4-dims {
   fill: #fff;
   width: rem(19);
   height: rem(27);
}

.svg-svg-arena__1-dims {
   width: rem(40);
   height: rem(40);
}

.svg-svg-arena__2-dims {
   width: rem(48);
   height: rem(48);
}

.svg-svg-arena__3-dims {
   width: rem(44);
   height: rem(38);
}

.svg-svg-arena__4-dims {
   width: rem(43);
   height: rem(40);
}

.svg-svg-arena__5-dims {
   width: rem(40);
   height: rem(48);
}

.svg-svg-arena__6-dims {
   width: rem(48);
   height: rem(24);
}

.svg-svg-club__1-dims {
   width: rem(40);
   height: rem(37);
}

.svg-svg-club__2-dims {
   width: rem(48);
   height: rem(48);
}

.svg-svg-club__3-dims {
   width: rem(39);
   height: rem(44);
}

.svg-svg-club__4-dims {
   width: rem(48);
   height: rem(48);
}

.svg-svg-organization__2-dims {
   width: rem(48);
   height: rem(48);
}

.svg-svg-organization__3-dims {
   width: rem(40);
   height: rem(48);
}


.svg-svg-user__2-dims {
   width: rem(24);
   height: rem(32);
}

.svg-svg-user__3-dims {
   width: rem(86);
   height: rem(86);
}

.svg-svg-user__4-dims {
   width: rem(37);
   height: rem(30);
}

.svg-svg-user__5-dims {
   width: rem(40);
   height: rem(28);
}

.svg-svg-user__6-dims {
   width: rem(36);
   height: rem(32);
}

.svg-svg-rub-dims {
   width: rem(28);
   height: rem(34);
}

.svg-svg-settings-dims {
   width: rem(43);
   height: rem(40);
}

.svg-svg-footer__support__1-dims {
   fill: #139bea;
}

.svg-svg-footer__support__2-dims {
   fill: #2eb3df;
}

.svg-svg-footer__support__vk-dims {
   fill: #139bea;
}


//!! TOOLTIP===============================================================

.tooltip {
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 5;
   width: 100%;
   opacity: 0.5;
   display: flex;
   padding: rem(0) 0 rem(30) 0;
   align-items: center;

   &__scroll {
      cursor: pointer;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      row-gap: rem(5);
      align-items: center;
      align-content: center;

      &__text {
         animation: scrollText 2s infinite;
      }

      &__arrow {
         margin-top: 10px; // Adjust as needed
         animation: pulseArrow 1s infinite;

         svg {
            stroke-width: 1.50px;
            stroke: #fff;
            width: rem(19);
            height: rem(11);
         }
      }
   }

   &__beta__wrapper {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      width: rem(202);
      height: rem(66);
      @include adaptiveValue("padding-right", 31, 7, 1350, 960, 1);
   }

   &__beta {
      display: flex;
      column-gap: rem(10);
      align-items: center;
      justify-content: center;

      &__text {
         font-size: 16px;
         line-height: 160%;
      }

      &__img {
         margin-top: rem(10);

         svg {
            fill: rgba(255, 255, 255, 0.75);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            width: rem(31);
            height: rem(31);
         }
      }
   }
}

@keyframes scrollText {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-10px);
   }

   100% {
      transform: translateY(0);
   }
}

@keyframes pulseArrow {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.2);
   }

   100% {
      transform: scale(1);
   }
}