.login {
   width: 0;
   height: 0;
   position: fixed;
   backdrop-filter: blur(25px);
   transition: all 0.8s ease 0s;
   left: 50%;
   top: 50%;
   opacity: 0;
   overflow: hidden;


   &.login-open {
      opacity: 1;
      z-index: 500;
      width: 100%;
      height: 100%;
      transition: all 0.8s ease 0s;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
   }

   &__wrapper {
      .login-open & {
         //padding: rem(100) rem(0);
         position: relative;
         display: flex;
         align-items: center;
         margin: 0 auto;
         background-color: #272937;
         border: rem(1) solid rgba(255, 255, 255, 0.5);
         border-radius: rem(50);
         width: 80%;
         height: 90%;
         overflow: auto;

         @media (max-width:425px) {
            width: 100%;
            height: 100%;
         }

         /* Ensure content and scrollbar respect the border-radius */
         -webkit-mask-image: -webkit-radial-gradient(white, black);

         /* WebKit-specific scrollbar styles */
         @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
            &::-webkit-scrollbar {
               width: 8px;
            }

            &::-webkit-scrollbar-track {
               background-color: #272937;
               border-radius: rem(50);
            }

            &::-webkit-scrollbar-thumb {
               background-color: white;
               border-radius: rem(50);
               //border: 2px solid #272937;
            }

            &::-webkit-scrollbar-thumb:hover {
               background-color: #f0f0f0;
            }

            &::-webkit-scrollbar-thumb:active {
               background-color: #e0e0e0;
            }
         }

         /* Firefox-specific scrollbar styles */
         @-moz-document url-prefix() {
            scrollbar-width: thin;
            /* Makes the scrollbar thinner */
            scrollbar-color: white #272937;
            /* Thumb color first, track color second */
         }
      }
   }

   &__container {
      display: flex;
      justify-content: center;
      background: #272937;
      //width: 80%;
      height: 90%;
      //overflow: hidden;
      //padding: rem(100) 0 rem(50) rem(0);
   }

   &__block {
      //padding: rem(100) 0 rem(50) rem(0);
      width: rem(294);

      @media (max-width:400px) {
         width: 100%;
      }
   }

   &__cancel {
      position: absolute;
      top: rem(50);
      right: rem(50);
   }

   &__between {
      text-align: center;
      position: relative;
      padding: rem(40) 0;

      &::before,
      &::after {
         content: '';
         position: absolute;
         top: 50%;
         width: rem(104);
         height: rem(1);
         background-color: rgba(255, 255, 255, 0.5);
      }

      &::before {
         content: '';
         left: rem(10);
      }

      &::after {
         content: '';
         right: rem(10);
      }
   }

   &__services {
      padding-top: rem(50);
      display: flex;
      flex-direction: column;
      row-gap: rem(15);
      align-items: center;

      &__title {
         line-height: 150%;
      }

      &__list {
         display: flex;
         column-gap: rem(15);
      }

      &__item {}

      &__link {
         width: rem(50);
         height: rem(50);
         border: rem(1) solid #fff;
         border-radius: rem(15);
         display: flex;
         align-items: center;
         justify-content: center;
         transition: all 0.8s ease 0s;

         @media (any-hover: hover) {
            &:hover {
               transform: scale(1.15);
            }
         }

         svg {
            height: rem(30);
            width: rem(30);
            fill: #fafafa;
         }
      }
   }

   &__form-wrapper {}

   &__form {
      display: grid;
      row-gap: rem(25);

      &__mail {
         position: relative;

         &__title {

            display: inline;
            position: absolute;
            z-index: 2;
            top: rem(-8);
            left: rem(17);
            font-size: rem(12);
            line-height: 150%;
            background-color: #272937;
            padding: 0 rem(5);
            color: rgba(255, 255, 255, 0.5);
         }

         &__input {
            position: relative;
            z-index: 1;
            background-color: inherit;
            width: 100%;
            border: rem(1) solid rgba(255, 255, 255, 0.5);
            border-radius: rem(15);
            padding: rem(15) rem(10) rem(15) rem(15);
            color: #fff;
            line-height: 150%;
         }
      }

      &__password {
         width: 100%;
         display: flex;
         flex-direction: column;
         position: relative;

         &__eye {
            z-index: 2;
            position: absolute;
            top: rem(15);
            right: rem(15);

            svg {
               width: rem(24);
               height: rem(24);
               fill: #fff;
               stroke: #fff;
               display: flex;
               align-items: end;
            }
         }

         &__input {
            position: relative;
            z-index: 1;
            background-color: inherit;
            width: 100%;
            border: rem(1) solid rgba(255, 255, 255, 0.5);
            border-radius: rem(15);
            padding: rem(15) rem(10) rem(15) rem(15);
            color: #fff;
            line-height: 150%;
         }

         &__forgot {
            align-self: end;
            font-size: rem(14);
            line-height: 150%;
         }
      }

      &__anotherPC {
         display: flex;
         column-gap: rem(10);

         &__title {}

         &__checkbox {}
      }

      &__enterence-button {
         display: flex;
         width: rem(126);
         justify-self: center;
      }
   }

   &__bottom {
      padding-bottom: rem(50);
      padding-top: rem(15);
      display: flex;
      column-gap: rem(5);
      align-items: center;
      justify-content: center;

      &__title {
         font-size: rem(14);
         line-height: 150%;
      }

      &__button {
         color: #f04451;
         font-size: rem(14);
         line-height: 150%;
      }
   }

   &__invalid {
      padding-top: rem(5);
      display: flex;
      column-gap: rem(13);
      align-items: start;
      color: #f04451;
      font-size: rem(14);
      line-height: 150%;

      span {
         font-size: rem(18);
      }
   }

}

.login__cancel {
   display: block;
   width: rem(26);
   height: rem(26);
   cursor: pointer;
   z-index: 10;

   span,
   &::before,
   &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
   }

   &::before {
      top: 0;
   }

   &::after {
      bottom: 0;
   }

   span {
      top: calc(50% - rem(1));
   }

   .login-open & {
      span {
         width: 0;
      }

      &::before,
      &::after {}

      &::before {
         top: calc(50% - rem(1));
         transform: rotate(-45deg);
      }

      &::after {
         bottom: calc(50% - rem(1));
         transform: rotate(45deg);
      }
   }
}

/*.popup-overlay {
   position: fixed;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;

   &.active {
      left: 0;
   }

   .popup-content {
      color: #272937;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      position: relative;
      width: 400px;
      max-width: 90%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      max-height: 200px;
      overflow: auto;
   }

   .popup-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
   }

   .popup-body {
      margin-top: 20px;
   }
}

.popup-close {
   position: absolute;
   top: 10px;
   right: 10px;
   background: none;
   border: none;
   font-size: 20px;
   cursor: pointer;
   z-index: 5000;
}

.popup-content .simplebar-track.simplebar-vertical {
   background-color: #f1f1f1 !important;
   width: 120px !important;
}


.popup-content .simplebar-scrollbar:before {
   background-color: #f31111 !important;
   border-radius: 80px !important;
}


.popup-content .simplebar-scrollbar:hover:before {
   background-color: #ff1111 !important;
}


.popup-content.simplebar {
   overflow: auto !important;
}*/