.password {
   &__wrapper {
      .login-open & {
         //padding: rem(100) rem(0);
         position: relative;
         display: flex;
         align-items: center;
         margin: 0 auto;
         background-color: #272937;
         border: rem(1) solid rgba(255, 255, 255, 0.5);
         border-radius: rem(50);
         width: 80%;
         height: 65%;
         overflow: auto;

         @media (max-width:425px) {
            width: 100%;
            height: 100%;
         }
      }
   }

   &__container {}

   &__block {
      padding-top: rem(50);
   }

   &__title {
      line-height: 150%;

      &:not(:last-child) {
         padding-bottom: rem(5);
      }
   }

   &__subtitle {
      font-size: rem(14);
      line-height: 150%;
      opacity: 0.75;

      &:not(:last-child) {
         padding-bottom: rem(25);
      }
   }

   &__buttons {
      display: flex;
      flex-direction: column;
      row-gap: rem(15);
   }

   &__form__enterence-button {
      width: rem(282);

      button {}
   }

   &__form__cancel-button {
      width: rem(282);
      background-color: inherit;
      box-shadow: none;
      border: rem(1) solid #fff;

      @media (any-hover: hover) {
         &:hover {
            background-color: #262732;
            box-shadow: none;
         }
      }

      button {}

      margin-bottom: rem(50);
   }

   &__code {
      display: flex;
      flex-direction: column;
      row-gap: rem(35);

      &__title {
         font-size: rem(14);
         line-height: 150%;
         opacity: 0.75;

         span {
            color: #f04451;
         }
      }

      &__access {
         padding-top: rem(10);
         display: flex;
         flex-direction: column;
         row-gap: rem(15);

         &__title {
            font-size: rem(14);
            line-height: 150%;
            opacity: 0.75;
         }

         &__enter {
            display: flex;
            column-gap: rem(15);
            position: relative;

            &.green {
               li {
                  border: rem(2) solid green;
               }
            }
         }

         &__again {
            font-size: rem(14);
            line-height: 150%;
            opacity: 0.75;
            align-self: end;

            button {
               transition: all 0.8s ease 0s;
               color: #f04451;
            }

            &.-basic {
               button {
                  color: #fff;
               }
            }
         }

         &__item {
            transition: all 0.8s ease 0s;
            width: rem(55);
            height: rem(69);
            border: rem(1) solid red;
            border-radius: rem(20);
            display: flex;
            justify-content: center;
            align-items: center;

            input {
               position: absolute;
               top: 0;
               left: rem(20);
               font-size: rem(40);
               width: 170%;
               height: 100%;
               border: rem(0) solid red;
               border-radius: rem(20);
               color: #fff;
               background-color: inherit;
               letter-spacing: rem(45);
            }

            input:focus {
               outline: none;
               /* Ensures no outline appears on focus */
               border: none;
               /* Removes any custom border if applied */
            }
         }
      }

      &__bottom {
         text-align: center;
         font-size: rem(14);
         line-height: 150%;
         opacity: 0.75;
      }

      &__number {
         padding: rem(10);
         border: rem(1) solid #fff;
         border-radius: rem(15);

         span {
            color: red;
         }
      }
   }
}